<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>首页</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
    <link rel="stylesheet" href={{ url_for('static',filename='css/bootstrap.css') }} >
    <link rel="stylesheet" href={{ url_for('static',filename='css/style.css') }} type="text/css" media="all">
    <link rel="stylesheet" href={{ url_for('static',filename='css/font-awesome.min.css') }} >

	<link href="http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900&amp;subset=latin-ext" rel="stylesheet">

</head>

<body>
	<!-- header -->
	<header>
		<div class="logo blog-clr ml-sm-4 ml-2 mt-3">
			<a href="/"><span class="fa fa-stumbleupon"></span></a>
		</div>
		<!-- menu -->
		<ul id="menu">
			<li>
				<input id="check02" type="checkbox" name="menu" />
				<label for="check02"><span class="fa fa-bars" aria-hidden="true"></span></label>
				<ul class="submenu">
                    <li><a href="/getting">数据获取</a></li>
					<li><a href="/show">数据展示</a></li>
                    <li><a href="/wordcount">数据分析</a></li>
				</ul>
			</li>
		</ul>
		<!-- //menu -->
	</header>
	<!-- //header -->

	<!-- blog -->
	<div class="blog he-codes">
		<!-- blog content -->
		<div class="blog-cont pt-5">
			<h3 class="title text-center text-bl font-weight-bold">首页</h3>
			<div class="container pt-5">
				<div class="row pt-2">
					<!-- blog grid -->
					<div class="col-lg-4 col-md-6">
						<div class="card border-0 med-blog">
							<div class="card-header p-0">
								<a>
									<img class="card-img-bottom" src="../static/images/blog2.jpg" alt="Card image cap">
								</a>
							</div>
							<div class="card-body border border-top-0">
								<div class="mb-3">
									<h1 class="blog-title card-title font-weight-bold m-0">
										<a>数据获取</a>
									</h1>
									<div class="blog_w3icon">
										<span>
											data acquisition</span>
									</div>
								</div>
								<p class="mb-4">通过输入app名称即可获取相关数据。</p>
								<a href="/getting" class="blog-btn btn">ENTRANCE</a>
							</div>
						</div>
					</div>
					<!-- //blog grid -->
					<!-- blog grid -->
					<div class="col-lg-4 col-md-6 mt-md-0 mt-5">
						<div class="card border-0 med-blog">
							<div class="card-header p-0">
								<a>
									<img class="card-img-bottom" src="../static/images/blog1.jpg" alt="Card image cap">
								</a>
							</div>
							<div class="card-body border border-top-0">
								<div class="mb-3">
									<h2 class="blog-title card-title font-weight-bold m-0">
										<a>数据展示</a>
									</h2>
									<div class="blog_w3icon">
										<span>
											data presentation</span>
									</div>
								</div>
								<p class="mb-4">数据获取后，在这里查看哦!</p>
								<a href="/show" class="blog-btn btn">ENTRANCE</a>
							</div>
						</div>
					</div>
					<!-- //blog grid -->
					<!-- blog grid -->
					<div class="col-lg-4 col-md-6 mt-lg-0 mt-5 mx-lg-0 mx-md-auto">
						<div class="card border-0 med-blog">
							<div class="card-header p-0">
								<a>
									<img class="card-img-bottom" src="../static/images/blog3.jpg" alt="Card image cap">
								</a>
							</div>
							<div class="card-body border border-top-0">
								<div class="mb-3">
									<h5 class="blog-title card-title font-weight-bold m-0">
										<a>数据分析</a>
									</h5>
									<div class="blog_w3icon">
										<span>
											data analysis</span>
									</div>
								</div>
								<p class="mb-4">展示对数据分析之后的结果。</p>
								<a href="/wordcount" class="blog-btn btn">ENTRANCE</a>
							</div>
						</div>
					</div>
					<!-- //blog grid -->
				</div>
			</div>
		</div>
		<!-- //blog content -->
	</div>
	<!-- //blog -->

</body>
{#<script></script>#}
</html>